body{
    margin: 0;
    padding: 0;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container{
    border: 1px solid white;
    height: 90vh;
    width: 50%;
    padding: 1em;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 2em;
}
.navbar{
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logoko{
    width: 23%;
    display: flex;
    align-items: center;
    color: white;;
}
.profile{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: right;
    color: white;
}

.logoko img,.profile img{
    height: 3em;
    width: 3em;
    object-fit: cover;
    border-radius: 150%;
}

.navbar button{
    border-radius: 1em;
    border: none;
    height: 70%;
}

/* conversation */
.conversation{
    width: 90%;
    height: 75%;
    margin: auto;
    overflow: auto;
    padding: 1em;
}
.conversation::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* optional */
  }

.entry{
    display:flex;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
}
.text {
   color: white;
   width: 80%;
}
.text p{
    margin-left: .5em;
    margin-right: .5em;
}
.message,.time{
    margin-top: -1em;
}
.images{
    height: 3em;
    width: 3em;
    border-radius: 150%;
}
.images img{
    height: 100%;
    width: 100%;
    border-radius: 150%;
    object-fit: cover;
}

.me{
    display: flex;
    justify-content: right;
}
.me .text{
    text-align: right;
}

/* inputs */
form{
    width: 95%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
form input{
    width: 90%;
    background: none;
    border-radius: 1em;
    border: 1px solid white;
    text-indent: 1em;
    color: white;
}
form img{
    height: 100%;
}
input:focus{
    outline: none;
}
::placeholder{
    color: white;
}


@media screen and (max-width: 350px){
    .container{
        width:100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: none;
        overflow: hidden;
        margin-top: .5em;
    }
    .navbar{
        margin: 0;
        padding: 0;
    }
    
}